.cursorPointer {
  cursor: pointer;
}

.allProducts {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.productContainer {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.productList {
  padding-top: 150px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1;
  margin-left: 10px;
  margin-right: 10px;
  row-gap: 30px;
  z-index: -5;
}

.hero{
  position: relative;
}
.heroImage {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: inset  10px 10px 64px 0px #ececec;
}

.heroText{
  font-size: 2rem;
  position: absolute;
  bottom: 120px;
  left: 70px;
} 

.productList .product {
  width: 25%;
  flex-direction: column;
  margin-top: 10px;
}

.productTopBar {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto 20px;
}

.productTopBar h2:last-child {
  display: flex;
  font-size: 1rem;
  align-items: center;
  padding-top: 5px;
  font-weight: 100;
  color: gray;
}

.allProductsButton{
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.allProductsButton button {
  background: transparent;
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
}

.allProductsButton button:hover {
  color: #ffffff;
  background: #273043;
 border: 2px solid #273043;
 transition-duration: 200ms;
}

.productRange{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  gap: 0;
  justify-content: center;
}

.productRange img {
  cursor: pointer;
  width: clamp(150px, 25%, 300px);
  margin: 0;
}

.productRange img:hover {
  transform: scale(110%);
  transition-duration: 500ms;
}

.productRange .productImgWide {
  width: clamp(300px, 50%, 600px);
  aspect-ratio: 2/1;
}


@media screen and (max-width: 960px) {
  .productList .product {
    height: auto;
  }
  .productList .product .image {
    width: 25%;
    flex-direction: column;
    margin-top: 10px;
  }

  .heroText{
    font-size: 1.8rem;
    position: absolute;
    bottom: 110px;
    left: 70px;
  } 

  /* .productRange{
    padding: 0 50px;
  } */
  .productRange img {
    width: clamp(150px, 50%, 480px);
    margin: 0;
  }

  .productRange .productImgWide {
    width: clamp(300px, 100%, 960px);
    aspect-ratio: 2/1;
  }
}
@media screen and (max-width: 850px){

  .heroText{
    font-size: 1.6rem;
    position: absolute;
    bottom: 100px;
    left: 60px;
  } 
}
@media screen and (max-width: 720px) {
  .productList .product {
    height: auto;
    width: 35%;
  }

  .heroText{
    font-size: 1.4rem;
    position: absolute;
    bottom: 80px;
    left: 60px;
  } 
}

@media screen and (max-width: 600px) {
  .heroText{
    font-size: 1.2rem;
    position: absolute;
    bottom: 4rem;
    left: 60px;
  } 
}

@media screen and (max-width: 480px) {
  .productList .product {
    height: auto;
    width: 35%;
  }
  .heroText{
    font-size: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 40px;
  } 
}
@media screen and (max-width: 420px) {
  .productList .product {
    height: auto;
    width: 34%;
  }
}
@media screen and (max-width: 400px) {
  .productList .product {
    height: auto;
    width: 90%;
  }
}
